<% include ./partials/header.ejs %>
	<main class="main-content">
		<div class="page">
			<div class="container">
				<h2 class="entry-title">Our Completed Projects Gallery</h2>
				<p>You can look around our portfolio with clear, big pictures.</p>
				<div>
	        		<span>Need more information? Please </span>
	        		<a href="/Contact">Contact Us</a>
	        	</div>
	        	<% if(user) { %>
	        	<form method="post" enctype="multipart/form-data">
					<input type="file"  name="image"/>
					<button type="submit"><a>Upload File</a></button>
				</form>
				<% } %>	
				<div class="filter-links filterable-nav">
					<select class="mobile-filter">
						<option value="*">Show all</option>
						<option value=".LakeJoseph">Lake Joseph</option>
						<option value=".Clear_Lake_Road">Clear Lake Road</option>
						<option value=".Browning_Island">Browning Island</option>
						<option value=".Port_Sandfield">Port Sandfield</option>
						<option value=".Stephens_Bay">Stephens Bay</option>
						<option value=".uploadedFiles">Uploaded Files</option>
					</select>
					<a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".LakeJoseph">Lake Joseph</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".Clear_Lake_Road">Clear Lake Road</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".Browning_Island">Browning Island</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".Port_Sandfield">Port Sandfield</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".Stephens_Bay">Stephens Bay</a>
					<a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".uploadedFiles">Uploaded Files</a>
				</div>

				<div class="filterable-items">
					<% for(let i = 1; i < 20; i++) { %>
					<div class="project-item filterable-item LakeJoseph">
						<a href="../images/portfolio/LakeJoseph/clapperton<%=i%>.jpg"><img src="../images/portfolio/LakeJoseph/clapperton<%=i%>.jpg" alt="#"></a>
					</div>
					<% } %>
					<% for(let i = 1; i < 19; i++) { %>
					<div class="project-item filterable-item Clear_Lake_Road">
						<a href="../images/portfolio/Clear_Lake_Road/clear<%=i%>.jpg"><img src="../images/portfolio/Clear_Lake_Road/clear<%=i%>.jpg" alt="#"></a>
					</div>
					<% } %>
					<% for(let i = 1; i < 21; i++) { %>
					<div class="project-item filterable-item Browning_Island">
						<a href="../images/portfolio/Browning_Island/browning<%=i%>.jpg"><img src="../images/portfolio/Browning_Island/browning<%=i%>.jpg" alt="#"></a>
					</div>
					<% } %>
					<% for(let i = 1; i < 29; i++) { %>
					<div class="project-item filterable-item Port_Sandfield">
						<a href="../images/portfolio/Port_Sandfield/port<%=i%>.jpg"><img src="../images/portfolio/Port_Sandfield/port<%=i%>.jpg" alt="#"></a>
					</div>
					<% } %>
					<% for(let i = 1; i < 39; i++) { %>
					<div class="project-item filterable-item Stephens_Bay">
						<a href="../images/portfolio/Stephens_Bay/stevens<%=i%>.jpg"><img src="../images/portfolio/Stephens_Bay/stevens<%=i%>.jpg" alt="#"></a>
					</div>
					<% } %>
					<% uploadedFiles.forEach(function(uploadedFile) { %>
					<div class="project-item filterable-item uploadedFiles">
						<a href="../images/uploads/<%=uploadedFile%>"><img src="../images/uploads/<%=uploadedFile%>" alt="#"></a>
					</div>
					<% }); %>
				</div>
			</div>
		</div> <!-- .page -->

	</main> <!-- .main-content -->
<% include ./partials/footer.ejs %>
	